body
{
	width: 2560px;
	background: rgb(80, 80, 80);
	overflow: scroll;
	margin-top: 20px;
	font-family: Arial;
}

#top /*premiere div en haut*/
{
	display: flex;
	align-items: center;
	margin-left: 320px;
	margin-right: 320px;
	height: 150px;
	width: 1920px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
	background: rgb(144, 144, 144) fixed;
	padding-bottom: 10px;
}

.doft
{
	height: 130px;
	border-radius: 10px;
	position: relative;
	left: 10px;
}

.loupe
{
	height: 180px;
	position: relative;
	left: 1040px;
	top: 20px;
}

.reload
{
	height: 25px;
	position: relative;
	left: 1380px;
	top: -50px;
}

.close
{
	height: 25px;
	position: relative;
	left: 1040px;
	top: 60px;
}

#left
{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 210px;
	width: 160px;
	height: 500px;
	margin-left: 360px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
	background: rgb(144, 144, 144) fixed;
}

.arrow
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 20px;
}

.main
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 30px;
}

.oeil
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 40px;
	border: solid red 5px;
	border-radius: 5px;
}

.outil
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 50px;
}

.chat
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 60px;
}

#center
{
	display: flex;
	padding: 13px;
	position: absolute;
	top: 210px;
	width: 1400px;
	height: 660px;
	margin-left: 560px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
	background: rgb(144, 144, 144) fixed;
}

.cluster
{
	width: 1920px;
	position: relative;
}

#right
{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 2033px;
	top: 210px;
	width: 160px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
	background: rgb(144, 144, 144) fixed;
}

.book
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 20px;
}

.towel
{
	width: 80px;
	position: relative;
	left: 40px;
	top: 30px;
}

.brick
{
	width: 40px;
	padding: 45px 45px 31px 45px;
	background: url('resources/brick.jpg') repeat;
	background-size: 35px 35px;
	overflow: hidden;
	position: relative;
	left: 15px;
	top: 30px;
}

#bot
{
	width: 675px;
	height: 220px;
	padding-top: 0;
	position: absolute;
	box-shadow: 10px 10px 15px;
	border-radius: 10px;
	top: 800px;
	left: 275px;
	background: rgb(136, 255, 137);
}

.text_normal
{
	position: relative;
	bottom: 0px;
	left: 10px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1.5px;
}

.entrez
{
	font-family: times;
	font-size: 47px;
}

.ordinateurs
{
	text-shadow: 6px 6px 6px red;
}

.text_oblique
{
	font-style: italic;
	font-size: 20px;
}

.input_text
{
	position: relative;
	bottom: 22px;
	padding: 3px;
	border: inset;
	left: 10px;
	width: 500px;
}

.repondre
{
	position: relative;
	bottom: 22px;
	right: -20px;
	width: 90px;
	letter-spacing: 1px;
	height: 25px;
	font-size: 15px;
	border: solid rgb(176, 161, 174) 1px;
	border-radius: 2px;
	background-image: linear-gradient(rgb(250, 242, 255), rgb(228, 218, 229));
}
